[2016-03-10 17:43] cbornet opened #1 "Use dashboard dark theme"

[2016-03-10 17:45] cbornet opened #2 "Prefix metric field names"
To have "metric_type": "GAUGE" instead of "type": "GAUGE" because type is already used ("type": "syslog")

[2016-03-10 17:46] cbornet commented on #2
kv {
        source => "data"
        field_split => ", "
        prefix => "metric"
    }

[2016-03-10 21:21] PierreBesson commented on #2
I will add this tomorrow.

[2016-03-10 21:24] PierreBesson commented on #1
I don't know if its possible to configure it without using the UI. If you know how to do it please submit a PR.
Also does the Timelion plugin works for you ? I had some issues earlier with it.

[2016-03-10 21:38] cbornet commented on #1
Yes: set```"optionsJSON": "{\"darkTheme\":true}",``` in the dashboard json

[2016-03-10 21:46] #2 closed

[2016-03-11 09:37] PierreBesson commented on #1
Never mind about the Timelion comment. It is now available in the Visualize panel as the "timeseries" option. That means we will have no issue to set up dashboards with it !

[2016-03-11 13:22] PierreBesson commented on #1
I have added `darkTheme:true` to the existing dashboard. I also added the `kibana/load-localhost.sh` script to try out import of the dashboard JSON without rebuilding the image.

[2016-03-11 15:46] #1 closed

[2016-03-11 16:30] cbornet opened #5 "Add logstash-* index"
And set it as default so that there is no need to create it when starting Kibana the first time
Also remove filebeat-* index

[2016-03-11 17:06] #5 closed

[2016-03-11 17:14] cbornet opened #7 "Visualizations fail with monolith app"
Because they look for the field instance_id that is only sent with micro-services
Shouldn't we base on app_name.raw instead ? This would make the visualizations available for monolith apps and even multi-monolith (app1 monolith and app2 monolith monitored by the same ELK).

[2016-03-11 17:29] cbornet commented on #1
I just found that there is also a
[code]
setting in the "Advanced settings" of Kibana that we can maybe switch to true.

[2016-03-11 17:33] PierreBesson commented on #7
It's just that this dashboard was intented for micro-services.
The reason why I chose instanceId instead of app_name is because we want to identify which instance of a particuliar app was failing (as a microservice can be replicated many times). But as all instances have the same code, it might be useless to distinguish between the different instances for the default dashboard...

We can change th

[2016-03-11 17:42] PierreBesson commented on #1
Sure. I will do it tomorrow.

Le ven. 11 mars 2016 18:29, Christophe Bornet <notifications@github.com> a
écrit :

[2016-03-11 18:00] cbornet commented on #7
No, you're right : in a "cluster" or multi-node pre service MSA, we cannot rely on the app_name.
What if we used the host IP ?
Or maybe it's not the same thing to monitor a MSA and a monolith so it shouldn't be done on the same dashboards...

[2016-03-11 20:41] PierreBesson commented on #7
OK, so let's do specific dashboard for microservices. Maybe we can set a rule that every visualization or dashboard that can be used only with microservices must have "microservices" in its name.

Yes you can also use host+port but you would lose information on which app it is.

[2016-03-11 21:13] cbornet commented on #7
We could have a unique identifier field produced by logstash. Something like ${app_name)-${host}-${port}

[2016-03-11 21:19] PierreBesson commented on #7
Yes ! I guess it would actually be better than the instanceId as we would
immediately know where to find the app. Currently we need to check on
Eureka on which host and port we can find the app.

Le ven. 11 mars 2016 22:13, Christophe Bornet <notifications@github.com> a
écrit :

[2016-03-14 12:36] cbornet opened #8 "Mount kibana dashboard directory in a docker volume"
This way it will be easier to modify the dashboards and vis

[2016-03-14 12:54] PierreBesson commented on #8
I will try this.

[2016-03-14 13:23] #7 closed

[2016-03-14 13:34] #8 closed

[2016-03-14 18:31] cbornet opened #13 "Graph ratios"
IMO it is better to graph ratios than raw values, esp. in the context of micro-services/multiple apps.
For intance I would like to graph JVM memory usage ratio = JVM memory used/ JVM memory max.
I couldn't do it with Kibana. With timelion I can do it with `.es(jvm.memory.total.used, avg:metric_value).divide(.es(jvm.memory.total.max, avg:metric_value))` but I didn't manage to split between instance

[2016-03-15 10:38] PierreBesson commented on #13
After some research I didn't find a way to do exactly what you want. However I fount an alternative. I just finished to set up a nice dashboard for JVM metrics.

First I display the aggregated average for all apps.

![test1-jvm-aggregated](https://cloud.githubusercontent.com/assets/513471/13774720/c741abe2-eaa0-11e5-88eb-948c22d14273.png)

Noticed I added a number of logs for each app on the top l

[2016-03-15 10:39] PierreBesson commented on #13
@cbornet too bad the timelion viz doesn't take into account that an app has been selected.

[2016-03-15 12:23] cbornet commented on #13
Yes there is an [issue](https://github.com/elastic/kibana/issues/4584) opened on Kibana for agg pipelining and an [issue](https://github.com/elastic/timelion/issues/15) on timelion for term aggregation.
I also had a look at Grafana which has some support for ES pipeline aggs (moving average, derivative) but not yet between different timeseries.

Eventually, Graphite/Grafana has a lot more capaciti

[2016-03-19 09:46] PierreBesson opened #14 "Cannot launch JHipster Console in Windows"
I have this error for the JHipster-Console container when launching 'docker-compose up' on Windows.

[code]
@pascalgrimaud I need your help here.

[2016-03-19 09:50] pascalgrimaud commented on #14
@PierreBesson : I will play Docker on Windows, during this WE
I will have a look on it

[2016-03-19 09:53] pascalgrimaud commented on #14
1st quick answer : https://github.com/jhipster/jhipster-console/blob/master/kibana/entrypoint.sh#L1
You have to find the base image of kibana:4.4.1
maybe no `bash` is installed, maybe it's `sh` instead

[2016-03-19 16:28] pascalgrimaud commented on #14
In fact, bash and sh are correctly installed. The problem comes from Windows, when copying file during docker build.
It's nice to know it, because I never build image on Windows before today :-)

[2016-03-19 16:44] #14 closed

[2016-03-19 16:56] PierreBesson commented on #14
@pascalgrimaud Thanks a lot ! I would have never found a fix for this issue.

[2016-03-21 09:18] PierreBesson opened #17 "Volumes for Windows and Mac OS can be mounted only on User directory"
Raised by @pascalgrimaud, in https://github.com/jhipster/generator-jhipster/issues/3221#issuecomment-198862523
Solutions:
1)
* Add instructions to the README
* Add commented out lines for windows and mac os (using a sample /User path that they must correct)
* Complete documentation

[2016-03-21 09:26] PierreBesson opened #18 "Merge JHipster-Console and Elastalert Containers"
I have been evaluating Elastalert as an alerting solution and it is working really well. I have made an alerting dashboard for Kibana that display recent alerts.

![alerting-dashboard](https://cloud.githubusercontent.com/assets/513471/13914536/436b3050-ef4f-11e5-939a-2bf44c1f2545.png)

So now I want to include it in the main image so that users don't have to deal with two different containers.

[2016-03-21 09:37] deepu105 commented on #18
Nice +1

Thanks & Regards,
Deepu

On Mon, Mar 21, 2016 at 5:26 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-03-22 15:24] PierreBesson commented on #18
Fixed in b6512f7058304df827ece2b90c72a33eadafcd76.

[2016-03-22 15:24] #18 closed

[2016-03-23 10:48] PierreBesson commented on #17
Relevant information as been added to the docs: https://github.com/jhipster/jhipster.github.io/pull/231.

[2016-03-23 10:48] #17 closed

[2016-03-23 10:54] PierreBesson opened #19 "Index patterns fields are not always getting created by Kibana"
It causes dashboards to display errors when displayed started.

This can be solved in some cases by refreshing the index pattern so I added a tip to the docs but it is not enough in all cases.

Should we configure logstash differently to solve this problem ?

[2016-03-23 11:02] PierreBesson opened #20 "[FEATURE] Log forwarding from a file"
Some people are concerned with lower performance when using a socket connection from their app and would rather have a separate agent read from log files.

We could use either logstash or filebeat for this task.

[2016-03-23 11:05] PierreBesson opened #21 "[FEATURE] Cluster monitoring dashboard"
It would be nice to have a dashboard that display the state of all your apps with the number of instances per apps.

[2016-03-23 11:16] PierreBesson opened #22 "[FEATURE] Database monitoring"
It would be nice to monitor the status of databases and get their error logs in the Console.
Another interesting feature would be to display audits, maybe we could use the [logstash jdbc plugin](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-jdbc.html) for that.

[2016-03-23 15:13] deepu105 commented on #17
@PierreBesson can you also add the commented out lines that can be used on the elk.yml file you mentioned above?

[2016-03-23 15:35] cbornet commented on #19
I think we could preload most of the indexes that will be used since we know them in advance (like the metric_* ones for instance).

[2016-03-24 14:07] PierreBesson commented on #19
What should be done is creating an index template for the logstash-* index.

https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html

[2016-03-24 17:17] PierreBesson commented on #22
I have been able to get mysql console logs messages in Kibana using this in my compose file

[code]

And this in my logstash.conf:
[code]

It has the advantage of being able to get logs from any docker container. However those logs would need logstash parsing.

[2016-03-26 06:55] pascalgrimaud commented on #22
Good!!

[2016-03-26 06:59] pascalgrimaud commented on #20
On the main generator, if the user choose ELK, maybe we can ask him how he wants to monitor all his apps?

It's just an idea, I think there is some work for this.

[2016-03-26 08:07] jdubois commented on #22
Really neat! We should monitor all databases.
Le 26 mars 2016 7:55 AM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2016-03-26 08:09] jdubois commented on #20
No that would be against 12 factors -> they need to use the console output, maybe we should add some documentation about this.

[2016-04-08 12:32] PierreBesson opened #24 "Migrate the JHipster Console to Kibana 5"
https://www.elastic.co/blog/kibana-5-0-0-alpha1?blade=tw

Looks very cool, too bad there doesn't seem to be docker images available.

[2016-04-08 13:51] deepu105 commented on #24
It indeed looks super awesome. I love the design. But should we wait for a
stable RC?

Thanks & Regards,
Deepu

On Fri, Apr 8, 2016 at 8:32 PM, Pierre Besson <notifications@github.com>
wrote:

[2016-04-08 14:27] PierreBesson commented on #24
Yes indeed, but looking at the pace elastic release their product, it should be released shortly.
Also it seems to have better features for monitoring, as well as way to integrate your own plugins.

My idea, was that in the future we could develop a JHipster plugin to show a the registry screen +  something like spring boot admin: https://github.com/codecentric/spring-boot-admin
Maybe we can even

[2016-04-08 14:37] jhulick commented on #24
+1 FWIW, there is a nice registry dashboard with downstream services config and hystrix aggregator (via turbine), like the spring boot admin dashboard here: https://github.com/VanRoy/spring-cloud-dashboard

[2016-04-08 14:48] PierreBesson commented on #24
Those projects are nice but one concern I have, is that I'm not sure if they have been given the authorization by the Spring Team to use the names "spring boot" and "spring cloud".

[2016-04-13 08:19] PierreBesson opened #25 "Correct automatic build tagging on docker-hub"
I just realized that tags for automatic builds at docker hub is completely broken. It is actually rebuilding the latest master with 1.0.0 tag.
@pascalgrimaud, if you have access can you correct this.

[2016-04-13 09:55] pascalgrimaud commented on #25
I try to have a look this afternoon
Le 13 avr. 2016 10:19 AM, "Pierre Besson" <notifications@github.com> a
écrit :

[2016-04-13 10:04] PierreBesson commented on #25
Thanks a lot !

[2016-04-13 12:49] pascalgrimaud commented on #25
I did the same like jhipster-registry. It should be resolved by this :

So the tag v1.0.0 on docker hub won't be updated every commit/push
Don't worry, the tag v1.0.0 still exists => https://hub.docker.com/r/jhipster/jhipster-console/tags/

But there is still an issue : https://github.com/jhipster/jhipster-registry/issues/35

[2016-04-13 13:40] PierreBesson commented on #25
I will check today with @jdubois that all project have correct automated build.

[2016-04-13 13:43] pascalgrimaud commented on #25
Cool! I hope it will work!
The automated build in Docker Hub should be correct.
The main issue is with github => we need to delete webhooks and need to update service with Docker. See my post https://github.com/jhipster/jhipster-registry/issues/35#issuecomment-203626119

[2016-04-21 03:58] nodje opened #26 "docker-compose up fail to start logstash"
During the startup process after `docker-compose up` from the project's root, the only log for logstash is the following:

`elk-logstash_1       | {:timestamp=>"2016-04-21T03:54:54.466000+0000", :message=>"translation missing: en.logstash.runner.configuration.file-not-found", :level=>:error}
jhipsterconsole_elk-logstash_1 exited with code 1`

and consequently, only `jhipster-console` and `elk-elas

[2016-04-21 08:30] nodje commented on #26
I got it working on a different docker machine though.
`elk-logstash_1       | {:timestamp=>"2016-04-21T08:27:42.569000+0000", :message=>"Pipeline main started"}`

I leave it up to you to close close the issue. Let me know if you want more info about the case.

[2016-04-21 08:40] PierreBesson commented on #26
Thanks for reporting the issue. I think it might be related to a known problem that docker on mac and windows can only mount folder under the user directory.

Does your issue relates to this: https://github.com/jhipster/jhipster-console/issues/17 ?

[2016-04-21 08:42] PierreBesson commented on #25
This is finally corrected !

[2016-04-21 08:42] #25 closed

[2016-04-21 08:47] pascalgrimaud commented on #25
@PierreBesson : I hope ! I've just checked the generator-jhipster project and there is:
- a commit from Deepu on master branch, 3 hours ago

And on Docker hub:
- jhipster/jhipster:master : 3 hours ago
- jhipster/jhipster:latest : 18 hours ago
- jhipster/jhipster:v3.1.0 : 18 hours ago

So I think it's finally OK !!! Thanks to Julien

[2016-04-21 10:23] nodje commented on #26
Oddly, it failed when ran on Docker on native Linux and now runs ok on OS X.
I've ran `docker-compose` wihout changing a line from the latest commit.

[2016-04-21 10:35] nodje opened #27 "No log for the logstash-* pattern"
Starting the console with the default config, I can access the Kibana dashboard but it doesn't seem to find anything under the `logstash-*` pattern.

I've verified that jhipster-cloud is sending the log through the appender to the console IP on UDP port 5000. (tcpdump on the sending machine)
And I can see that that the docker machine has started the logstash instance and is listening to UDP 5000 (

[2016-04-21 16:26] PierreBesson commented on #27
Hi @nodje,
Do see anything in the logstash container logs (`docker-compose logs elk-logstash`) ?

I have seen this problem before, it can be solved by recreating the index. First make sure that logstash has received some logs then go to settings > index pattern and create a new index pattern here.

If it still doesn't work, try recreating the elk-elasticsearch containers `docker-compose stop elk-e

[2016-04-22 02:29] nodje commented on #26
On another OSX machine, I have the same problem.
I noticed at the beginning of the startup log:
`ERROR: for elk-logstash  mkdir /Users/nodje: protocol error`

The thing is I start the docker containers on another remote machine, not locally.
I do `export DOCKER_HOST=192.168.3.254:2376` for instance, then `docker-compose up elk-logstash`
It works if I am on the local OSX machine (or any type I'd gu

[2016-04-22 03:13] nodje commented on #27
Thanks for your support @PierreBesson, I got it working, I was obviously not receiving logs from logstash yesterday even though hipstercloud was sending them. Probably a port mapping issue from OsX Host to Docker guest...
I can see them clearly in the logs now as I run docker-compose without daemonizing it.

Just a question about something I can't quite make out: what does the pattern `logstash-*`

[2016-04-22 03:13] #27 closed

[2016-04-22 08:20] PierreBesson commented on #27
@nodje `logstash-*` refers to the elasticsearch index that logstash will write to (see in the [docs](https://www.elastic.co/guide/en/logstash/current/plugins-outputs-elasticsearch.html#plugins-outputs-elasticsearch-index). Currently the console creates automatically 2 indexes [master/jhipster-console/dashboards/index-pattern](https://github.com/jhipster/jhipster-console/tree/master/jhipster-consol

[2016-04-22 08:32] PierreBesson commented on #26
Yes the issue comes from volumes. Did you try to `docker exec -it` into your container and see if you can see logstash.conf there.

OK, I have not yet done something like you do with a remote docker host but I remember a colleague telling me that to deal with multiple host on docker compose you should setup an `overlay` network as the default `bridge` network is does not support having multiple ho

[2016-04-22 10:39] nodje commented on #26
It does work with a "classic" docker usage, no worries.

[2016-04-22 10:39] #26 closed

[2016-04-25 12:29] PierreBesson commented on #20
After thinking about it for some time. It seems this approach has too many downsides (for example, it needs an agent per app so it's complicated with docker deployment) and the setup we have now with logback encoder seems to work fine with what seems to be acceptable loss of performance.

So I won't be adding this feature in the next future.

[2016-04-25 12:29] #20 closed

[2016-04-25 18:58] NOTtardy opened #28 "elastalert-create-index fails because config.yaml not present"
In `start-elastalert.sh` the `celastalert-create-index` is executed in the wrong directory. Therefore the elastalert `config.yaml` cannot be found an the following error occurs.

`hipster-console_1  | Creating Elastalert index in Elasticsearch...
jhipster-console_1  | Enter elasticsearch host: Traceback (most recent call last):
jhipster-console_1  |   File "/usr/local/bin/elastalert-create-index",

[2016-04-26 13:27] #28 closed

[2016-04-28 08:32] hsdj-alex opened #30 "Service 'jhipster-console' failed to build: The command '/bin/sh -c kibana plugin --install elastic/timelion' returned a non-zero code: 70"
Hi,
I execute  docker-compose up and I receive the following errors:
ERROR: Service 'jhipster-console' failed to build: The command '/bin/sh -c kibana plugin --install elastic/timelion' returned a non-zero code: 70
Many thanks for this project.

[2016-04-28 08:53] PierreBesson commented on #30
It is also failing for me at this step now. I don't understand because in the past it worked. I will investigate the issue.

In the meantime please use the [bootstrap instruction](https://github.com/jhipster/jhipster-console/tree/master/bootstrap) to use the image from docker hub instead of building it yourself. It will become be the recommended way to start the console, I just need to update the

[2016-04-28 09:28] hsdj-alex commented on #30
Thank you very much for your help. It cost me a whole day to find the environment configuration issues.Now, it works perfectly.

[2016-04-28 18:49] NOTtardy opened #31 "Deploying jhipster-console to different remote docker machines"
Hi all

I have some questions about deploying jhipster-console to different remote docker machines. If you could have a look at [my question on stackoverflow](http://stackoverflow.com/questions/36874749/deploying-jhipster-console-to-different-remote-docker-machines) and give your feedback, that would be awesome.

Thanks!

[2016-04-28 19:16] jdubois commented on #31
I'm closing this as per our guidelines, as this is a cross-post with StackOverflow

[2016-04-28 19:16] #31 closed

[2016-04-28 19:23] NOTtardy commented on #31
Sorry

[2016-04-28 19:25] jdubois commented on #31
No problem! I'm just trying to keep the issues clean.

[2016-04-29 01:07] #30 closed

[2016-05-12 16:42] PierreBesson commented on #24
I finally managed to have the ELK v5 stack working ! I commited my work on the [elastic-v5 branch](https://github.com/jhipster/jhipster-console/tree/elastic-v5).

Warning, all dashboards are broken !

[2016-05-12 20:57] cbornet commented on #24
FYI we now have cassandra cluster metrics if you want

[2016-05-12 21:00] PierreBesson commented on #24
@cbornet. Oh yeah, @jdubois told me today about it. I will try to do something in the coming weeks...

[2016-05-12 21:16] PierreBesson commented on #22
I just realized that database monitoring should be done on the database driver. Collecting the database logs is a little useless and also the techniques will vary depending on the environment (docker, VM, cloud platform,etc...).

It's much more interesting to take metrics directly from JDBC for SQL as this project: https://github.com/soulgalore/jdbcmetrics/ is doing. Or with what the Cassandra dri

[2016-05-18 13:40] marcelinobadin opened #33 "Webhooks on certain conditions"
Is that possible to have a way to configure webhooks for certain conditions to help scale the infrastructure? CPU levels, network bandwidth usage, number of requests, jvm heap size...

[2016-05-18 21:40] PierreBesson commented on #33
Well, you could try to implement this with [Elastalert](http://elastalert.readthedocs.io/en/latest/) which is already integrated with the console. It should not be difficult to be writing your own [custom alerter in Python](https://github.com/Yelp/elastalert/blob/master/elastalert/alerts.py). Recently someone PR some [Gitter integration code](https://github.com/Yelp/elastalert/blob/master/elastale

[2016-05-18 21:57] marcelinobadin commented on #33
Cool. I will dive into this. I read that Elastalert integrates with AWS SNS and this is pretty good because from the SNS I can trigger a AWS Lambda code for example to run some code and scale up or down my containers and services

[2016-05-19 01:21] marcelinobadin opened #34 "How to handle logstash.conf deploying on Docker Cloud"
The issue is: when you run docker-compose it is easy, the logstash.conf file is there, locally on your computer and you map this local directory to your container.

When you try to run it directly on Docker Cloud through a slack file, what do to? It is not there.

[2016-05-19 12:40] PierreBesson commented on #34
I have been thinking about this for sometime. The problem is the following: when deployed to docker (swarm, docker cloud, kubernetes, etc), volume are a headache to deal with as they must be shared between all potential hosts (in docker orchestration systems, we can't know on which host the container will be created).

A workaround is to add the logstash.conf file in the logstash docker image itse

[2016-05-19 12:44] jdubois commented on #34
Then that could be a jhipster/jhipster-logstash image - I'm not really worried about doing our own images, it's easy to use and distribute.

[2016-05-19 12:46] marcelinobadin commented on #34
well, at this moment, I am trying to use option -e with logstash. If this works I'll tell you.

[code]

[2016-05-19 12:56] PierreBesson commented on #34
@marcelinobadin I also thought about the *long single line* solution but it leads to duplicated config, in addition of being particularly ugly.
Another advantage of doing the jhipster/jhipster-logstash image would be that it we can be sure that they will be tagged correctly as it would be created by an automated build at docker hub built from the same git repo as the jhip-console itself.

[2016-05-19 13:03] marcelinobadin commented on #34
@PierreBesson sounds a better solution. Once you have it, tell me and I will try because now, I'am working on those webhooks/elastialert we have spoken before.

[2016-05-19 14:39] marcelinobadin opened #35 "jhipster-console cannot resolve links on Docker Cloud"
@PierreBesson same issue that makes us change the Dockerfile to use the latest version from alpine. But researching jhipster-console, it uses kibana, and kibana uses directly debian.

Any ideas why jhipster-console container is not able to resolve the hostnames on Docker Cloud Stack configuration?

[2016-05-19 14:42] marcelinobadin commented on #35
No, the problem was on my configuration. There is no issue here.

[2016-05-19 14:48] PierreBesson commented on #35
OK, no problem.

[2016-05-19 14:48] #35 closed

[2016-05-19 17:45] marcelinobadin commented on #34
Apparently the big startup line didn't work. My dashboards has no data, they don't find the metrics.

[2016-05-20 08:21] PierreBesson commented on #34
Did you try the preconfigured-logstash image above ?

[2016-05-20 09:05] marcelinobadin commented on #34
Yes, I'm using it. Works fine.

[2016-05-20 14:36] PierreBesson commented on #34
I'm closing this as how to achieve it is solved. The next release will include a `jhipster-logstash` image so it won't be a problem.

[2016-05-20 15:05] #34 closed

[2016-05-20 15:12] PierreBesson opened #36 "Simplify distribution by creating jhipster-logstash, jhipster-elasticsearch and jhipster-alerting official images"
Create the following automated build at docker hub in the JHipster organisation:
- jhipster-elasticsearch (simple wrapper over a specific version of the official image)
- jhipster-logstash (same but with a logstash.conf file already included so it can be deployed easily see #34 )
- jhipster-alerting or jhipster-console-alerting or jhipster-elastalert

I would like to introduce this change as a way

[2016-05-20 15:21] pascalgrimaud commented on #36
The most important thing is to use official base image => the `FROM` in our Dockerfile must be followed by an official image

[2016-05-24 14:36] PierreBesson commented on #36
I have done the refactoring in master.
The following images needs to be created with the same tag parameters as the `jhipster-console` image:
- `jhipster/jhipster-elasticsearch`

Dockerfile location: `/jhipster-elasticsearch`
- `jhipster/jhipster-logstash`

Dockerfile location: `/jhipster-logstash`
- `jhipster/jhipster-alerter`

Dockerfile location: `/jhipster-alerter`

[2016-05-24 14:53] jdubois commented on #36
@PierreBesson I created the 3 repos and triggered a first build on each, it should be OK!

[2016-05-24 16:12] PierreBesson commented on #36
@jdubois It works fine ! Now I just need to rename things like `elk-elasticsearch` to `jhipster-elasticsearch` and it should be complete.

[2016-05-25 13:11] #36 closed

[2016-05-26 12:46] szmizorsz opened #37 "Alerts Count visualization problem"
Hi,
I am experimenting with your console and alterer, good stuff, but I think I found a problem:

On alerting dashboard the Alerts Count visualization does not work:
"A field associated with this object no longer exists in the index pattern."

It seems to be the match_body.app_name which is used in a terms aggregation.
But if I check the elastalert_status mapping in ES for match_body:
"match_body"

[2016-05-26 13:18] PierreBesson commented on #37
Hi,
What version of the console are you using ? Have you developped custom alerts for your use case.

Actually the alerting dashboards will only works  if you have configured Elastalert. Otherwise it is completely useless and you can remove it.

The way alerting is configured is changing a lot with the latest version (now it has it's own image called jhipster-alerter). Also I have not seen so much

[2016-05-26 13:53] szmizorsz commented on #37
Hi Pierre,
I forked the 1.2.0 version and started using without Docker images. I manually set up everything and used your load scripts. But regarding this problem I do not think this makes difference.

Yes, I configured Elastalert and played with the log_error rule that is shipped with the Jhipster-alerter.
When I noticed that the Alerts Count visualization object on the Alerting dashboard does no

[2016-06-16 17:03] ghahramani opened #38 "Using environment instead of hard-coded"
Hi,
I have problem with jhipster-console in network_mode: host

Please use Environment Variables instead of jhipster-elasticsearch in line:
https://github.com/jhipster/jhipster-console/blob/master/jhipster-console/entrypoint.sh#L8

[2016-06-16 21:26] PierreBesson commented on #38
You have a good point. It is done it in other places but I kind of rushed things when I did the refactor with jhipster-logstash and jhipster-elasticsearch.

Would you consider making a PR to fix this ? Otherwise please wait a little and I will fix this in the coming days.

[2016-06-16 21:30] ghahramani commented on #38
these days I'm so busy but I will make PR ASAS

[2016-06-30 13:22] PierreBesson commented on #33
@marcelinobadin Have you succeeded in implementing your idea ? I'm thinking of closing this issue if we don't have time to pursue this.

[2016-06-30 14:09] #38 closed

[2016-06-30 14:12] PierreBesson commented on #38
@ghahramani I just fixed it. Sorry for the wait.
This was actually very important as jhipster-console's didn't allow to change the ES URL until now.
Some improvements will be needed in the future, like being able to provide ES login/password by environment vars or use https.

[2016-06-30 14:19] PierreBesson opened #39 "Allow configuration of jhipster-alerter by env vars"
Add the following env vars:
- es_host
- es_port
- run_every
- buffer_time

[2016-06-30 15:25] PierreBesson opened #40 "Metrics dashboards are broken in 1.3.0"
In my last test the metrics dashboards show the following error: `Could not locate that index-pattern-field (id: instance_name.raw)`.

[2016-06-30 15:28] cbornet commented on #40
:cry:

[2016-07-03 20:32] ghahramani opened #41 "Not forwarding logs after a while"
Hi, I encountered to a wired issue.

After all the microservices are up I can see the logs very well in dashboard, all metrics logs and application logs.

But after one day or less, I cannot see the metrics/application logs of some microservices, the interested part is gateway always is there, I never saw it happened for gateway, it will happen only for microservices.

Note: I can see all the logs

[2016-07-04 15:15] PierreBesson commented on #41
This must be a problem with
https://github.com/logstash/logstash-logback-encoder
Please look through their issues maybe you will recognise yours. Also you can try updating the dependency version to see if it fixes your problem. I don't know If the version included in JHipster is the last version of logstash-encoder. If it is not this should be fixed.

[2016-07-04 15:22] ghahramani commented on #41
@PierreBesson I didn't touch anything from jhipster default, it's like that you released, just I uncomment the AsyncAppender that you put comment there for production. Are you getting this behavior with your version? My jhipster version is 3.0 but my jhipster-console and elk stuff is v1.3.0 in docker-compose configuration. Should I look at another place except that you sent or check something in m

[2016-07-27 15:16] ygokirmak commented on #41
@PierreBesson we realized that some of our microservices "restarts" after 1-2 minutes and after second start they don't send any log to logstash..

in first start we see below log
[code]
bug after the second one logging provider log is missing..

[code]

another observation.. see second start is just "0.899 seconds" which is not possible.. Actually it seems second one is not a real start but logst

[2016-07-27 17:35] PierreBesson commented on #41
Did you guys tried to update the logstash-encoder version to see if it fixes the problem. Anyway, this is probably a problem with:
https://github.com/logstash/logstash-logback-encoder
As I'm in vacation right now I can't investigate the issue myself.

[2016-07-27 20:57] ygokirmak commented on #41
yes.. upgraded to https://mvnrepository.com/artifact/net.logstash.logback/logstash-logback-encoder/4.7

[2016-08-03 22:47] ygokirmak commented on #41
@PierreBesson  latest observation.. when we remove @EnableBinding(x.class) from application,
second restart disappears and logs are send to logstash successfully

[2016-08-19 15:27] ygokirmak commented on #41
@PierreBesson  we found the problem and discussion is here

https://github.com/spring-projects/spring-boot/issues/6688

we have also a workaround for jhipster;

changing LoggingConfiguration to

[code]

[2016-08-19 17:50] PierreBesson commented on #41
Wow, it's impressive that you've found the root of the problem and not given up after all those days !

Reading your issues on spring-boot and spring-cloud-stream github I realize that setting the logstash appender logback configuration programmatically (not with logback.XML) is having consequences that I couldn't imagine...

Cc @jdubois, @gmarziou, I don't know enough about Logback to know if it

[2016-08-19 21:21] gmarziou commented on #41
Looks good to me and maybe it could be also a solution for the problem I have started to discuss on [our mailing list](https://groups.google.com/forum/#!topic/jhipster-dev/TJFctx0fjeQ).

Great work @ygokirmak

[2016-08-20 14:07] ygokirmak commented on #41
Setting configuration via logback.xml not programmatic is also a solution
but in that case I can not get app_name and instance id from spring configuration bec it is created after logback.xml I think...

[2016-08-22 16:59] gmarziou commented on #41
Your code works well for the initial configuration.

However it does help for my use case, which is to change log level in logback.xml which results in a stop and start on logging context.  On stop event, the logstash appender is closed and on start it is not re-created.

I have looked at event listeners but I found the doc a bit difficult. I'm looking at declaring the appender in xml fully or par

[2016-08-22 18:26] gmarziou commented on #41
I defined the logstash appender in logback-spring.xml and got it working on reset when I use hard-coded values:

[code]

I tried to use Janino to put some conditionals but it seems it fails to read app properties:.

[code]

[2016-08-22 19:33] ygokirmak commented on #41
@gmarziou my workaround is working for us.. can you share your LoggingConfiguration.

and as I said pure logback.xml solution is not working bec it is not possible to access application properties in logback.xml

[2016-08-22 21:06] gmarziou commented on #41
My LoggingConfiguration is the default one generated by JHipster or yours.

I set debug attribute to true in the lobgack configuration and took a trace, it show clearly that on a reset event the logstash appender is stopped but not restarted while the console appender is.

<details>
  <summary>Log when changing log level while app is running</summary>
17:07:18,048 |-INFO in ReconfigureOnChangeTask

[2016-08-23 04:41] ygokirmak commented on #41
@gmarziou we changed default LoggingConfiguration and add implement application listener

[code]

and we are adding logstash appender on context refreshed event.. now it works as expected

[code]

[2016-08-23 09:00] gmarziou commented on #41
I already had this and it does not work for me because I don't get a ContextRefreshedEvent event. I put a breakpoint in `LoggingConfiguration .onApplicationEvent()`  and it is called only ion application start not on logback configuration change.

I was running spring boot 1.3.x, I upgraded to 1.4.0 but it's still not working.
I'm going to test with freshly grenerated gateway.

[2016-08-23 10:43] ygokirmak commented on #41
@gmarziou  I put debug point to below line and from call trace tried to identify the fired event and handle it in logging configuration.. May it can help you also..

https://github.com/logstash/logstash-logback-encoder/blob/master/src/main/java/net/logstash/logback/appender/LogstashSocketAppender.java#L49

[2016-08-23 12:19] gmarziou commented on #41
Thanks for your help but there is definitely something wrong here, I generated a gateway with JHipster 3.6.1 and I never get a ContextRefreshedEvent on logback.xml change.

I have same behavior with generated code or yours.

I have shared [a project](https://github.com/gmarziou/gateway-logstash-refresh) that shows the code and conf I use:

- devtools are not used to be sure that modifying src/main

[2016-08-23 14:11] gmarziou commented on #41
I have created a [minimal project](https://github.com/gmarziou/gh-issues/tree/master/test-logback-reload) that shows that  ContextRefreshedEvent is not fired on logback.xml change.

[2016-08-23 17:28] gmarziou commented on #41
I have got it working by registering a `LoggerContextListener` that adds logstash appender on reset event as shown in the log below:

<details>
<summary>
[code]
</details>

I have setup a [minimal project](https://github.com/gmarziou/gh-issues/tree/master/test-logback-reload) that shows my setup.

[2016-08-25 20:25] gmarziou commented on #41
The original issue is fixed in Spring Boot now and will be delivered as part of 1.4.1.

Regarding the issue I reported, Spring Boot team advised me to open a new issue and I haven't got feedback yet on Logback user mailing list.

[2016-08-26 14:38] PierreBesson commented on #41
Good news ! Then I'm closing this issue as the original problem is fixed upstream and the fix will be coming soon to a future version of JHipster. As for @gmarziou's issue it is now tracked in the generator repo.

[2016-08-26 14:38] #41 closed

[2016-09-05 08:55] PierreBesson commented on #33
I'm closing this issue as this is a matter of configuring Elastalert to use your favorite alerting method (cf http://elastalert.readthedocs.io/en/latest/ruletypes.html#alerts).

[2016-09-05 08:55] #33 closed

[2016-09-05 09:29] PierreBesson commented on #40
The issue no longer applies for me in 1.3.1.

[2016-09-05 09:29] #40 closed

[2016-09-12 15:46] cdaller commented on #39
another elastalert github project that solved this problem: https://github.com/fiunchinho/docker-elastalert/blob/master/docker-entrypoint.sh

[2016-09-12 16:01] PierreBesson commented on #39
@cdaller Looks like this is done by someone more experienced than me. This is really nice code ! @fiunchinho, I hope you don't mind if I take some inspiration from you in the future.

[2016-09-12 16:30] fiunchinho commented on #39
np! Just glad I could help :)

[2016-10-27 21:31] PierreBesson commented on #13
@cbornet It works with Kibana v5 and the last version of Timelion. So much potential for metrics !

![cap](https://cloud.githubusercontent.com/assets/513471/19786253/49eb8cb2-9c9d-11e6-9b5f-6781393fbdc9.png)

Look at the tiny red line on the right...

[2016-10-27 21:42] PierreBesson commented on #24
Work on the elastic v5 migration has been commited to master. It works fine but the dashboards will need to be done again.

The logo also needs to be redone because of Kibana's redesign, now it looks like this:
![capture du 2016-10-27 23-34-22](https://cloud.githubusercontent.com/assets/513471/19786454/57a0ac9c-9c9e-11e6-9651-e52067c13a3c.png)
And in collapsed mode:
![capture du 2016-10-27 23-35-3

[2016-10-28 03:55] deepu105 commented on #24
We can make it transparent as well. Ill try to do it this weekend

Thanks & regards,
Deepu

On 28 Oct 2016 03:12, "Pierre Besson" <notifications@github.com> wrote:

[2016-11-01 11:38] PierreBesson commented on #13
Implemented in https://github.com/jhipster/jhipster-console/commit/33d54082f396a151b9e3ba984f221f833f66a1a3
<img width="1380" alt="ratio" src="https://cloud.githubusercontent.com/assets/513471/19888609/fadde9f8-a02f-11e6-9e50-3ffb4386276e.png">

[2016-11-01 11:38] #13 closed

[2016-11-01 11:39] PierreBesson commented on #19
Current status is we preload the Kibana index in Elastic with the script but it seems the user has to click "create" at least once anyway.

[2016-11-01 11:39] #19 closed

[2016-11-01 11:41] PierreBesson commented on #24
Dashboard migration has been done here: https://github.com/jhipster/jhipster-console/commit/33d54082f396a151b9e3ba984f221f833f66a1a3
I will soon release a v2 of the Console.

[2016-11-01 11:41] #24 closed

[2016-11-01 11:42] #21 closed

[2016-11-15 21:57] PierreBesson opened #43 "Configure alerting with a webhook reporting example"
OK, I just discovered http://webhook.site/ and the great thing about this is that you just have to pass a UUID in the URL to have your webhook testing setup just for you.
This means we can have real alerting working out of the box ! So we will have something to show off for demos.

I'm currently doing it for Prometheus alerting, for now I'm only adding one alert on user registration. Then I will d

[2016-12-01 14:08] ygokirmak commented on #20
@PierreBesson we are using filebeat for logforwarding instead of socket appender. Filebeat agents are triggered on container startup and they save their last checkpoints ( registries ) within application folder so on container restart we don't duplicate logs.

We choose this method bec we are generating reports via ELK dashboards and don't want data loss.

just wrote fyi..

[2016-12-01 14:42] PierreBesson commented on #20
@ygokirmak Filebeat is also an interesting approach but we are unlikely to switch to it.
Still, I would be quite interested to see your config, especially if it can be setup simply with docker-compose.

[2016-12-12 10:07] romaindequidt commented on #24
@PierreBesson May you list me the remaining tasks before releasing V2?

[2016-12-12 21:16] PierreBesson commented on #24
Yes everything works except for alerting, you can start using it by moving to the v2.0.0-beta docker tag : https://github.com/jhipster/jhipster-console/releases/tag/v2.0.0-beta
I'm just waiting for elastalert to release a new version compatible with the elastic stack v5.

[2016-12-14 10:16] romaindequidt commented on #24
@PierreBesson my .yo-rc.json looks like this:
[code]
I choose the microservices architecture (gateway, microservice, registry, console...) and try to start it into production environnement.

The spring.data.elasticserach settings use the elasticsearch from console as the "cluster-nodes".
Unfortunatelly the ES client (2.4) is not fully compatible with ES node (5.X).

The following warning is raised

[2016-12-18 18:30] PierreBesson opened #46 "Use Curator to close old indices and improve performance"
Add setup for curator based on @gmarziou's idea in #44.

[2016-12-25 06:05] huiqiangyang opened #47 "When I Start Console Show 'start ES failed'"
when I start jhipster-console by docker use 'docker-componse up' show this exception:
[code]
who can tell me reason,thanks~

[2016-12-25 16:16] PierreBesson commented on #47
@huiqiangyang I just checked and I don't have this error. If you are using the docker-compose.yml file at the root of this repo, maybe you have problems building the docker image correctly. Then try to use our prebuilt image published on docker-hub.

Make sure that you are using this one : https://github.com/jhipster/jhipster-console/blob/master/bootstrap/docker-compose.yml

[2016-12-25 16:16] #47 closed

[2017-01-02 10:26] huiqiangyang commented on #47
@PierreBesson  Thank you, I`m sure my docker-compose.yml from your git,and I not edit this file, only run `docker-componse -f docker-compose.yml up` then from log I see ES start faild, up show is error. Now this error I not have  solve, I may be need your help

[2017-01-02 11:36] PierreBesson commented on #47
Sorry I cannot help you more as you didn't give me any information about your configuration. Are you on Windows using the legacy docker toolbox ? Then you would need to change your docker_compose files as you cannot use localhost in your docker container. See our website, it is documented here.
Otherwise I have no idea what else could be the problem..

[2017-01-02 11:50] huiqiangyang commented on #47
@PierreBesson OK ,thank you .My system is Ubuntu docker run is well

[2017-03-23 18:47] PierreBesson opened #49 "Cannot upgrade to elastic v5.2.2"
Kibana is blank when upgrading, it might be related to our script to create the logstash-* index.

[2017-03-31 10:07] PierreBesson opened #51 "Add link to the Zipkin UI in Kibana using Field Formatters"
https://www.elastic.co/blog/kibana-4-1-field-formatters

[2017-04-06 05:23] loverto opened #52 "jhipster-elasticsearch Ulimit.soft must be an integer"
OS:Window 10
ERROR: for jhipster-elasticsearch  Ulimit.soft must be an integer
Traceback (most recent call last):
  File "docker-compose", line 3, in <module>
  File "compose\cli\main.py", line 67, in main
  File "compose\cli\main.py", line 117, in perform_command
  File "compose\cli\main.py", line 922, in up
  File "compose\project.py", line 416, in up
  File "compose\parallel.py", line 69, in pa

[2017-04-06 05:24] loverto opened #53 "jhipster-console i18n"
jhipster-console i18n support

[2017-04-06 06:07] PierreBesson commented on #53
What i18n would you want ? The console is just a packaging of the ELK stack. Did you mean to post this on the JHipster Registry repo ?

[2017-04-06 06:12] PierreBesson commented on #52
I know there is a problem with this for some configurations. Can you give me some information about your environment (os, docker version,...) ?

[2017-04-06 06:16] loverto commented on #52
docker version : Docker version 17.04.0-ce-rc2, build 2f35d73
os: window 10   10.0.14393
jhipster-console : latest

[2017-04-06 06:20] loverto commented on #52
version: '2'
services:
    jhipster-elasticsearch:
        image: jhipster/jhipster-elasticsearch
        ports:
            - 9200:9200
            - 9300:9300
        ulimits:
            memlock:
                soft: 687194767
                hard: 687194767

[2017-04-06 06:59] PierreBesson commented on #52
Does it work if you remove the ulimit part completely ?

[2017-04-06 07:06] loverto commented on #52
After I have modified its value, it can run;Can be the value is greater than the maximum value of Integer

[2017-04-06 07:09] PierreBesson commented on #52
@loverto I think this issue comes from the difference between docker4windows and linux/mac.

[2017-04-06 07:17] loverto commented on #52
May be

[2017-04-06 07:34] PierreBesson commented on #52
fixed by 7f85bd1

[2017-04-06 07:34] #52 closed

[2017-04-06 12:30] loverto commented on #53
dashboards's title word

[2017-04-06 16:18] PierreBesson commented on #53
As much as I love internationalisation and understand that some users need translation (I actually worked in China for 3 month). This is really not feasible from my point of view. Feel free to fork the project and translate it in your language.

[2017-04-06 16:18] #53 closed

[2017-04-07 13:30] ygokirmak opened #54 "Upgrading ELK stack to 5.3 and use official images"
I couldn't manage to configure elasticsearch to run clustered on my prod environment. I am passing these env vars to elastic container, may be they are wrong..

[code]

I tried new **supported** images `docker.elastic.co/elasticsearch/elasticsearch:5.3.0` and clustering **is working** with a couple of environment variable in docker-compose
[code]

Trying to understand the problem in images which w

[2017-04-07 13:41] PierreBesson commented on #54
Wow very nice. If you can PR a working clustering setup, it would be awesome. Yes you can upgrade the version.

[2017-04-08 05:26] ygokirmak commented on #54
Ok.. I am working on that

[2017-04-10 07:42] ygokirmak commented on #54
@PierreBesson instead of installing curl on Kibana image we can use another short-lived image to install dashboards etc?

they did smilar here; https://github.com/elastic/stack-docker/blob/master/docker-compose.yml#L75

Putting installing dashboard and index logic into dockerfile has some drawback, warn me if I am mistaken. When we put load configuration logic in kibana dockerfile than we need to

[2017-04-10 09:19] PierreBesson commented on #54
@ygokirmak This is a really good idea ! The reason I didn't do it was that I was a docker noob at the time. This is definitely the way to go. This totally fits the docker philosophy of "one container for one thing" and sidekick containers.

[2017-04-10 09:20] PierreBesson commented on #54
Love your link by the way, we should move to something like this.

[2017-04-10 14:20] ygokirmak commented on #49
I think the problem is related to x-pack.
When you open kibana, it makes request to elasticsearch to get default-index,
elasticsearch returns 404 to this request although index exists and show blank screen (https://github.com/elastic/kibana/issues/9028)

I checked elasticsearch logs and seems kibana user does not have permission to get details of default-index;
working request;
`curl -XGET "localh

[2017-04-11 12:01] pascalgrimaud opened #55 "InstanceId displayed in registry and kibana are different"
The instanceId displayed in the registry is not the same in jhipster-console.
I'm not sure if it's a normal behavior.

So to confirm that, in `LoggingConfiguration.java`, I used this code:

[code]
I got:
[code]

In the main method, I added:
[code]
I got:
[code]

In jhipster-console, I have: `93d13e7ea190e1e6cf0e017880728550`
And in registry: `1edc5154c85e71730ce6acc6bd296a70`

[2017-04-11 12:38] PierreBesson commented on #55
Well, it seems here that the one displaying wrong instanceId is the registry not the console. Am I right ?

[2017-04-11 12:42] pascalgrimaud commented on #55
I think the correct instanceId is from the registry.

It seems like the instanceId is generated 2 times:
- once in LoggingConfiguration -> this value is displayed in the console
- once somewhere else, and the microservice keep this value -> this value is displayed in the registry

Not really major, I just wanted to notice you, @PierreBesson

[2017-04-11 16:04] PierreBesson commented on #55
@pascalgrimaud I think the problem is the following:

 **application.yml**
[code]
When no instanceId is available, it will put a random value instead.

[2017-04-11 19:01] pascalgrimaud commented on #55
@PierreBesson : do you mean I can comment this config ?

[2017-04-17 08:58] rifatdover commented on #54
+1

[2017-04-19 09:02] ygokirmak commented on #46
@PierreBesson I can work on it..
is it ok to;
 - create another container which have just cron and curator
 - get cron/curator config from jhipster-curator folder ( as other modules do )
 - this container cleans old indices continuosly..

[2017-04-19 09:47] PierreBesson commented on #46
@ygokirma that would be awesome !
I have an example here of a curator setup: https://github.com/pires/kubernetes-elasticsearch-cluster (with kubernetes).

[2017-04-19 10:58] ygokirmak commented on #46
Ok.. I should first learn kubernetes.. will send PR when finished

[2017-04-19 11:58] PierreBesson commented on #46
You don't need to learn Kubernetes if you don't use it 😄 , il quite complex really...
I just noticed that they used this project: https://github.com/bobrik/docker-curator with a good default config.

[2017-05-04 02:23] yattin opened #57 "How about security my jhipster-console?"
Now the jhipster-console can login without password.

[2017-05-04 02:34] jdubois commented on #57
This ELK, which isn't secured by default. You shouldn't have this available publicly, which is our default setup with Docker Swarm, etc...

[2017-05-04 02:34] #57 closed

[2017-05-05 03:43] PierreBesson commented on #57
This is outside of the scope of the console for now but you could achieve this in a number of ways including fronting Kibana with a basic auth / ldap secured reverse proxy. If you find a good solution you are welcome to suggest a tip to our documentation.

[2017-05-15 18:33] Cuica20 opened #59 "Ulimit.soft must be an integer Failed to execute script docker-compose"
CMD> docker-compose up -d
Starting javiercuicapuza_jhipster-logstash_1
Starting javiercuicapuza_jhipster-console_1
Starting javiercuicapuza_jhipster-alerter_1

ERROR: for jhipster-elasticsearch  Ulimit.soft must be an integer
Traceback (most recent call last):
  File "docker-compose", line 3, in <module>
  File "compose\cli\main.py", line 64, in main
  File "compose\cli\main.py", line 116, in perf

[2017-05-16 03:30] anjia0532 opened #60 "zipkin does not work"
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

[code]

##### **Browsers and Operating System**

java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

git version 2.11.0.windows.3

node: v7.7.2

npm: 4.1.2

yeoman: 1.8.5

yarn: 0.23.

[2017-05-16 08:35] PierreBesson commented on #60
I will have a look when I have the time. Thanks for reporting this.

[2017-05-16 14:28] PierreBesson commented on #60
I just tested it and it works. Just generated compose files with the `docker-compose` subgen with Console options.
Here is the content of my `central-server-config/application.yml`:

[code]

No it should be localhost:5601, this is so that the link between kibana and zipkin works.
If the problem persist. Please upload a sample project to github so I can look into the problem.

[2017-05-16 14:28] #60 closed

[2017-05-17 04:56] ygokirmak commented on #51
@PierreBesson you mean just formatting the url and make it clickable?

Seems we should add some config to https://github.com/jhipster/jhipster-console/blob/master/jhipster-console/dashboards/index-pattern/logstash.json , right?

[2017-05-17 06:19] anjia0532 commented on #60
@PierreBesson Thank you for your reply. and I try again, it's success. I'm not familiar with zipkin. sorry about this issues.

![snipaste20170517_141602](https://cloud.githubusercontent.com/assets/15098916/26140902/cdb76496-3b0b-11e7-8838-cac2e9fca7ef.png)

[2017-05-17 07:30] PierreBesson commented on #51
My idea was to add links from Kibana to Zipkin so that when reading logs in Kibana log-dashboard, you can click on the TraceID and open Zipkin to see the request trace for this traceId.

[2017-06-02 16:38] #54 closed

[2017-06-02 16:38] #49 closed

[2017-06-02 16:39] PierreBesson commented on #59
This should not happen on the newest release

[2017-06-02 16:39] #59 closed

[2017-06-07 08:27] anjia0532 opened #65 "[PR]added Elasticsearch Curator"
[Elasticsearch Curator](https://www.elastic.co/guide/en/elasticsearch/client/curator/current/about.html) helps you curate, or manage, your Elasticsearch indices and snapshots by:

Obtaining the full list of indices (or snapshots) from the cluster, as the actionable list
Iterate through a list of user-defined filters to progressively remove indices (or snapshots) from this actionable list as needed

[2017-06-24 15:36] PierreBesson opened #67 "Add elasticsearch readiness check in import-dashboard container"
https://docs.docker.com/compose/startup-order/

[2017-07-07 11:06] somejavadev opened #68 "ZipKin Dependency Issue"
Hi,

I tried to clone the project and run the `docker-compose up -d` command but I am receiving the following error:

WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x86_64/APKINDEX.tar.gz: temporary error (try again later)
fetch http://dl-cdn.alpinelinux.org/alpine/v3.4/community/x86_64/APKINDEX.tar.gz
WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.4/community/x86_64/A

[2017-07-07 11:41] PierreBesson commented on #68
This looks like a problem with alpine CDN. It happens very often. Try later or configure an alternative cdn, please look into alpine docs...

[2017-07-07 11:59] jdubois commented on #68
yes, the error message says it's an error in the CDN

[2017-07-07 11:59] #68 closed

[2017-07-13 07:15] #65 closed

[2017-07-16 15:27] ygokirmak commented on #67
I had some comments about that https://github.com/jhipster/jhipster-console/pull/56

[2017-07-16 16:44] PierreBesson commented on #67
@ygokirmak If you can do the PR with the readiness check please go on !
Initially I had some concerns about this and wanted to use the docker compose service health check but now I realize that it's not the right way to do it with pure docker. I was just too used to the k8s way which give us too many features...

[2017-07-27 14:03] PierreBesson commented on #67
done

[2017-07-27 14:03] #67 closed

[2017-07-27 14:04] #22 closed

[2017-08-04 07:15] anjia0532 opened #70 "jhipster-import-dashboards's wait-for-elasticsearch.sh: Permission denied"
git clone the latest jhipster-console and  build it from `docker build jhipster-import-dashboards -t jhipster-import-dashboards` ,but this container it's not work.

[code]

the `create-index-patterns.sh` and `wait-for-elasticsearch.sh` ownner is root.

[code]

[2017-08-04 07:28] PierreBesson commented on #70
Strange because it works on the docker hub. Can you chown the files and PR the change ?

[2017-08-04 07:48] anjia0532 commented on #70
the jhipster/jhipster-import-dashboards it's ok, and the  `create-index-patterns.sh` and `wait-for-elasticsearch.sh` ownner is root too. i dont know what's happend.

btw , why use the metricbeat image? this module create-index and import_dashboards and shutdown.

only for  ./import_dashboards ?

[2017-08-04 08:16] anjia0532 commented on #70
@PierreBesson it's my fault. the *.sh without executable permissions.
should be this
[code]

[2017-08-04 08:16] #70 closed

[2017-08-04 19:40] PierreBesson commented on #70
Yes we use it only for the import-dashboard script.

[2017-08-09 20:08] PierreBesson opened #71 "Make sure to disable and uninstall X-pack everywhere"
X-Pack is a proprietary extension to the elastic stack and it gets installed by default in the docker image. We should make sure it is not active and uninstalled from the docker images that we distribute.

https://www.elastic.co/guide/en/x-pack/5.5/installing-xpack.html#xpack-enabling

[2017-08-17 08:42] mmesnjak opened #73 "logstash service not starting"
Hi,

I'm trying to run jhipster-console to be able to attach a monolith application I'm working on to it for logging and monitoring.
I cloned console repository with `git clone https://github.com/jhipster/jhipster-console.git` and then I started the services with `cd jhipster-console && docker-compose up -d` and after a minute or so I noticed that the logstash service stoppped:
[code]
Then I went

[2017-08-17 15:38] #71 closed

[2017-08-17 15:43] PierreBesson commented on #73
Please use this docker-compose file which run the latest "official" docker images: https://github.com/jhipster/jhipster-console/blob/master/bootstrap/docker-compose.yml
The master branch is the development branch and it's not always functional. However it should still work. Maybe try: `docker-compose down && docker-compose build --no-cache && docker-compose up -d`

[2017-08-17 15:47] #73 closed

[2017-08-17 15:49] PierreBesson commented on #46
This is done by @anjia0532, however we still need to add curator for the `zipkin-*` index.

[2017-08-18 02:40] anjia0532 commented on #46
ping @PierreBesson  this is my repo
- github project https://github.com/anjia0532/docker-curator
- the docker hub https://hub.docker.com/r/anjia0532/docker-curator/

docker tags

lastest == curator lastest version

v5.1.2 == curator 5.1.2

the image size  only 34mb

[2017-08-21 10:15] danielpetisme opened #75 "Update the official documentation regarding Elastalert"
According to the official Jhipster website, there is a Kibana dashboard to display Elastalert alerrs
https://jhipster.github.io/monitoring/#elastalert

I tried but there is no dashboard anymore, confirmed by the following commit:
https://github.com/jhipster/jhipster-console/commit/33d54082f396a151b9e3ba984f221f833f66a1a3

I tried to install the plugin by my self using  [BitSensor documentation](ht

[2017-08-21 16:29] PierreBesson commented on #75
Yes I removed the Elastalert dashboard following reports that it does not work.
I did have a look to bitsensor's project but then realized that it is not useful at all and just a tiny part of their proprietary product.

Currently I'm not using Elastalert myself (for company reasons...) so there is not much I can do to improve support but some users have had success using it like @anjia0532 who con

[2017-08-21 16:50] anjia0532 commented on #75
sorry, my english is not very good , but i am working on it.([elastalert-wechat-plugin](https://github.com/anjia0532/elastalert-wechat-plugin) is wechat plugin for elastalert,wechat is a very popular im app in china, to save the expense i create this plugin  : D   )

In the open source world, If you think you can do better, you shouldn't waiting for someone else's work, you can and you will perfec

[2017-08-21 18:58] danielpetisme commented on #75
@PierreBesson if you're not using elastalert, can you share your alarming solution (if not confidential)?

Regarding the issue, I have my answer so feel free to close it or keep it open as reminder.
Thank you all

[2017-08-21 21:05] PierreBesson commented on #75
Currently we are not using any alerting solution but I quite like Elastalert as it is very powerful although it takes some time to setup and there is no UI. I've also heard that there is a new alerting integration in the paid version of Kibana.

Also I want to try out this third party plugin :
https://github.com/sirensolutions/sentinl

[2017-08-22 09:28] mmesnjak opened #76 "jhipster-console not working "out-of-the-box""
Hi,

I tried to recreate jhipster-console installation and I'm not able to get it up and running as described in the documentation: [jhipster monitoring](https://jhipster.github.io/monitoring/)

So before starting I removed all the containers and images related to jhipster from my system including elastic, kibana, zipkin, etc. usin `docker rm` and `docker rmi` commands.
Then I downloaded latest bo

[2017-08-22 11:06] PierreBesson commented on #76
I think your Logstash instance has not received logs yet so this is normal. Try to enable the logstash `debug` mode through the environment variable and tell me if you see logs passing there.

[2017-08-22 11:13] PierreBesson commented on #76
Also you seem to have customized quite a lot of code so this should be reported on stackoverflow. I can only support issues with the default setup on this tracker.

[2017-08-22 11:13] #76 closed

[2017-08-22 11:54] PierreBesson commented on #75
docs updated at : https://github.com/jhipster/jhipster.github.io/pull/470

[2017-08-22 11:54] #75 closed

[2017-08-22 11:55] PierreBesson commented on #46
@anjia0532 Is your personal docker-curator project any different than what you contributed to this repo ?

[2017-08-22 11:57] PierreBesson commented on #55
This is finally fixed and merged in the main gen :tada:  !

[2017-08-22 11:57] #55 closed

[2017-08-22 11:58] PierreBesson commented on #37
So the Elastalert alerting dashboard has been removed in recent versions. So I'm closing this issue, hopefully we can get it back in a future version or move to an alternative alerting solution.

[2017-08-22 11:58] #37 closed

[2017-08-23 01:02] anjia0532 commented on #46
@PierreBesson added [README.md](https://github.com/anjia0532/docker-curator/blob/master/README.md) to introduce how to use. nothing diff.

[2017-08-23 09:30] danielpetisme commented on #75
I've tested sentinl
Docker image: https://hub.docker.com/r/danielpetisme/jhipster-console-sentinl/
Souce: https://github.com/danielpetisme/jhipster-console-sentinl

My feedback:
It's clearly a ~beta~ alpha:
- Rely on the Elasticsearch query dsl to fine event so very flexible but more touchy than Elastalert
- UI is messy (2 buttons save and the actual save is random)
- Doc absent (4-5 working examp

[2017-08-23 16:41] PierreBesson commented on #75
@danielpetisme Thanks a lot you are saving me some time. Too bad that there is no good UI for alerts yet.
Maybe this will be the solution: https://github.com/grafana/grafana/pull/8934

[2017-08-31 09:32] cenggel opened #77 "run without docker"
who to use jhipster-console without docker environment ?

[2017-08-31 21:53] PierreBesson commented on #77
This is possible but it's a manual process. The Console is basically the vanilla ELK stack with some dashboards. Have a look to the ELK docs from Elastic then use our ES, logstash and Kibana config and import our dashboards by pointing the import-dashboard container to your Elasticsearch instance.
Good luck.

I would gladly welcome a PR to our website if you have the detailed steps written down.

[2017-08-31 21:53] #77 closed

[2017-09-05 09:49] #46 closed

[2017-10-25 14:02] PierreBesson commented on #51
Field formatters are so cool, I just tried adding a URL link on a TraceID fields to see the trace from which a log comes from.

[2017-11-16 06:48] GuruvaiahG opened #79 "How to run jhipster-console in windows without docker?"
Hi ,

i want run jhipster-console windows without using docker as we run registry or gateway .please suggest me how to proceed.

[2017-11-16 07:59] pascalgrimaud commented on #79
Hi,

You simply can't, as JHipster console is developed for beeing used with Docker.

But you can read the code here, then, manually install the full stack: elasticsearch, logstash and kibana

[2017-11-16 08:12] GuruvaiahG commented on #79
can you please specify where is the code for read?

[2017-11-16 08:47] #79 closed

[2017-11-16 08:48] PierreBesson opened #80 "Migrate to Elastic stack v6"
https://www.elastic.co/blog/elasticsearch-6-0-0-released

[2017-11-20 14:16] Karthik1192 opened #81 "Elasticsearch fails to come up for default configuration"
Kibana status is RED Unable to connect to Elasticsearch at http://localhost:9200.

[2017-11-20 14:17] jdubois commented on #81
It really depends on your version & configuration, please follow our guidelines to send us a correct bug report

[2017-11-20 14:17] jdubois commented on #81
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2017-11-20 14:17] #81 closed

[2017-12-27 02:06] anjia0532 opened #83 "Why do the move zipkin from docker hub to quay.io?"
the zipkin doc https://zipkin.io/pages/quickstart.html#docker

[code]

[2017-12-27 23:41] PierreBesson commented on #83
@anjia0532, I have found that docker images on docker hub are outdated compared to quay. That's why I moved to it. Have a look at the latest tags for both registries.

[2017-12-28 01:19] anjia0532 commented on #83
@PierreBesson the docker hub top 10 tags
[code]

[2017-12-28 09:44] PierreBesson commented on #83
You are right ! I must have misread things.

[2017-12-28 13:27] #83 closed

[2018-01-04 17:15] Marcuccio opened #85 "Error in docker-compose up"
I needed modify the `logtrail.json` for a custom configuration. I used `docker-compose up` on `bootstrap/docker-compose.yml` unsuccesfull due the remote pulling of the images.

I modified the `bootstrap/docker-compose.yml` to use the local dockerfile:
[code]
but this threw an error:

Was this an expected result?
Is it possible modify the logtrail.json configuration?

[2018-01-04 17:23] PierreBesson commented on #85
Oh yes I had fixed it locally but did forget to push. It should be fixed now on master and a release is coming quickly.

[2018-01-04 17:23] #85 closed

[2018-01-05 15:44] PierreBesson commented on #80
Done in v3

[2018-01-05 15:44] #80 closed

[2018-01-05 15:45] PierreBesson commented on #51
Done in v3.

[2018-01-05 15:45] #51 closed

[2018-01-05 15:45] #39 closed

[2018-01-05 15:45] #43 closed

[2018-01-05 16:58] PierreBesson opened #86 "Dashboards broken because the index-pattern name was changed in #84"

[2018-01-06 10:59] pascalgrimaud opened #87 "Release workflow"
@PierreBesson : as you are admin on this repo, what do you think about working together on the automated release workflow ?
The goal would be to simply merge into a `release` branch
Then, Travis will build, then tag (need to config Travis to add some Environment Variables) and all the release process will trigger automatically.

[2018-01-06 11:36] PierreBesson commented on #87
Well the console release is already automated on docker hub. I just have to tag the repo to trigger a release.

[2018-01-06 16:18] pascalgrimaud commented on #87
Indeed, so nothing to do here

[2018-01-06 16:18] #87 closed

[2018-01-08 15:41] Marcuccio opened #88 "Zpkin error"
At http://localhost:9411 in the `Zipkin` homepage this error banner is shown:

![image](https://user-images.githubusercontent.com/9968234/34678206-b02a4718-f492-11e7-8e06-94a005087368.png)

[2018-01-08 23:24] PierreBesson commented on #88
Please specify which version of the console you are using. I know it works with the latest v3.0.1 but you need to use the same version for all docker image. This is criticaly important in recent version of the Elastic stack.

[2018-01-08 23:24] PierreBesson commented on #88
Please specify which version of the console you are using. I know it works with the latest v3.0.1 but you need to use the same version for all docker image. This is criticaly important in recent versions of the Elastic stack.

[2018-01-08 23:24] PierreBesson commented on #88
Please specify which version of the console you are using. I know it works with the latest v3.0.1 but you need to use the same version for all docker image. This is criticaly important in recent versions of the Elastic stack.

[2018-01-08 23:25] PierreBesson commented on #88
Please specify which version of the console you are using. I know it works with the latest v3.0.1 but you need to use the same version for all docker image. This is criticaly important in recent versions of the Elastic stack.

[2018-01-09 08:48] Marcuccio commented on #88
I'm using the latest release: _v3.0.1_ and starting everything with `bootstrap/the docker-compose.yml ` file.

I tried again this morning but still this error shows up.

[2018-01-09 09:13] #88 closed

[2018-01-09 09:15] PierreBesson commented on #88
Oh yeah the version was specified in this docker-compose file so you might have conflicting versions. I have added the `latest` tag in this commit : https://github.com/jhipster/jhipster-console/commit/9aed8ce9a7da7656b76ac1148cdbfb901e3bd977
Try running `docker-compose pull && docker-compose up -d` again.

[2018-01-10 12:24] ghost opened #89 "ERROR: for jhipster-alerter Cannot start service jhipster-alerter: OCI runtime create failed:"
I get error on jhipster-alerter when installing accroding to http://www.jhipster.tech/monitoring/
Directory /Users/jonas/source/intellij/company/xxx/app/alerts/config.yaml exists. Using a mac.

Digest: sha256:9fe2c24d7bcfb58484c5ba53a0791618010d8cf941fc4818c6b4f21fd09b1f0b
Status: Downloaded newer image for jhipster/jhipster-import-dashboards:latest
Creating movementservice_jhipster-zipkin_1

[2018-01-10 16:02] #86 closed

[2018-01-17 17:19] sghino commented on #89
I get the same error using linux.

[2018-01-19 16:37] zhx828 commented on #89
Same here from Mac

[2018-01-19 16:59] kaidohallik commented on #89
Same error on Windows 10

[2018-01-29 10:20] maivantan1992 opened #90 "Logstash start up error"
Hi, I running the version `3.0.1` and got error when start jhipster-console. It seen logstash has some error. Is there any one get the same error with me?

Update configuration information:
- Environment: Ubuntu, Docker 17.03.1-ce
- Check out source code: https://github.com/jhipster/jhipster-console/archive/v3.0.1.zip
- Upzip and change to show logstash debug log in docker file:
`CMD logstash -f /

[2018-01-29 10:32] PierreBesson commented on #90
Sorry there is just too little information about your configuration in your post.

[2018-01-29 10:35] maivantan1992 commented on #90
Just update the information about configuration.

[2018-01-29 12:37] PierreBesson commented on #90
Thanks @maivantan1992, I will try to reproduce but it looks strange...

[2018-01-30 03:29] maivantan1992 commented on #90
Update: I try with many version one by one from 3.0.1 to 2.0.1. Only the version 2.0.1 work for me now. Another version have the same error.

[2018-02-01 13:43] Marcuccio commented on #89
Still no updates?

[2018-02-09 08:16] rootmediastep commented on #90
Please use this to start jhipster console stack
[docker-compose.yml.zip](https://github.com/jhipster/jhipster-console/files/1710184/docker-compose.yml.zip)

[2018-02-09 09:51] maivantan1992 commented on #90
I got some work around from my friend. Uncomment volumes section and enable mount volumes for logstash config. The important change is use `log-conf` instead of `./log-conf`

[code]

[2018-02-09 20:37] PierreBesson commented on #89
Hi guys,

Sorry for taking a long time tout answer this
Please consider the jhipster-alerter broken with the latest version for now, so comment out the alerter section in the docker-compose file. This is due to incompatible Elasticsearch versions and my focus not being on alerting right now.

I hope to have the time to resume work on alerting some time next month. In the meantime I'm always welcom

[2018-03-21 15:51] jsendlewski opened #92 "Logtrail 6.1.3 Linking Issue"
Hi!

I'd suggest bumping version of Logtrail, since 6.1.3-0.1.25 has the [following](https://github.com/sivasamyk/logtrail/issues/238) bug. It was fixed in 6.2.1-0.1.26.

Thanks for the hard work!

[2018-04-03 16:08] kejia2013 opened #93 "No logs for Jhipster Application Running in Docker"
When I run Jhipster application on the host and get jhipster-console docker container up, kibana can find logs. However, when I run Jhipster application on prod mode using docker container, kibana cannot find any logs.

I tried to edit application-prod.yml for Jhipster application to use the IP or hostname of my host machine, but still cannot find logs. I am wondering whether this way works for so

[2018-04-03 20:31] kejia2013 commented on #93
just need to wait for longer time like 3~5min. Up to the Jhipster application.

[2018-04-03 20:31] #93 closed

[2018-04-06 09:55] rifatdover opened #94 "Provide some Authentication methods for Jhipster Console"
Hi;

This will be a feature request for Jhipster Console.

It will be nice if it supports OAuth, AD, LDAP, SAML authentication. Maybe Keycloack will be a good option for it. To create such samples of configuration will be good.

Do you have anything about this in your plan?

[2018-04-24 14:32] orovp commented on #89
Still no updates?

[2018-07-25 13:30] pathfinder2104 commented on #89
Any updates on this?? Can I downgrade Alerter version? How?

[2018-07-25 18:32] pascalgrimaud commented on #89
it will be fixed when someone is motivated and have time to do it.
So contributions are really welcome.

[2018-07-26 06:18] pathfinder2104 commented on #89
cool, I will give it a shot.

[2018-08-01 09:10] somejavadev opened #97 "jhipster-curator: Skipping action "delete_indices" due to empty list"
Hi,
I am running the jhipster stack in Kubernetes and have added the jhipster-curator as a sidecar container to run every 5 days to clean up my jhipster-elasticsearch-master to get rid of all the old entries on the logstash-* index. However when the cron job kicks off the following is displayed although I have indices older than 20 days. I have passed the environment variables: UNIT_COUNT as 5 and

[2018-08-08 16:58] PierreBesson commented on #94
This is a good idea, I have been planning to do something like that for a long time. I was thinking of doing this using an nginx proxy with basic auth.

[2018-08-08 17:00] PierreBesson commented on #97
@somejavadev Can you confirm that the curator works well for you, and this issue is only to warn about the error message ?

[2018-08-09 09:12] lmbai commented on #89
It should be fix now with the new elastalert 0.1.33, which is compatible with the ES6. (https://github.com/jhipster/jhipster-console/pull/98#issuecomment-411671766)Waiting Jhipster side to build the new image .

[2018-08-10 06:08] PierreBesson commented on #97
Fixed by#99

[2018-08-10 06:08] #97 closed

[2018-08-10 06:09] PierreBesson commented on #92
Fixed as logtrail is updated in master.

[2018-08-10 06:09] #92 closed

[2018-08-10 06:10] PierreBesson commented on #89
Yes this is now fixed, expect a release soon.

[2018-08-10 06:10] #89 closed

[2018-08-10 07:18] somejavadev commented on #97
Excellent, thanks @PierreBesson @lmbai.

[2018-08-13 11:05] gitravik opened #100 "Zipkin not showing any span and trace"
Hello,
Zipkin is running fine but
My **issue is I can't find any span or traces**. sometimes service name even not showing in the list.

I have clone latest jhipster-console and run it in my local machine.

# zipkin:
        base-url: http://localhost:9411
        enabled: true
        locator:
            discovery:
                enabled: true

Here is my spring boot servile console log, I thin

[2018-08-20 14:54] PierreBesson commented on #100
@gitravik Can you give me additional info. So this issue can be resolved more quickly.

[2018-08-26 11:04] eumji025 opened #101 "bootstrap/docker-compose.yml deploy has error?"
When I use docker-compose up -d in folder bootstrap
Has some error like this ：
[code]

so I look docker-compose.yml file find the volumes maybe configuration error
[code]

[2018-08-28 21:32] singhnirmal90 commented on #89
@PierreBesson Could you please notify if its fixed? Any new instructions to get it working (its still commented out in docker-compose)?

[2018-08-29 20:47] gmarziou commented on #94
nginx with basic auth is simple to implement but it has many drawbacks, I would rather use X-Pack or SearchGuard both written in java.. Alternatively, we could build our own proxy using a gateway.

[2018-08-30 12:26] PierreBesson commented on #94
The best would be to find a solution for both the console and the registry in order to integrate them together, as the registry already has an embedded zuul server.

[2018-09-13 16:26] somejavadev opened #104 "Logstash Across Kubernetes Namespaces"
Hi,
I am running the jhipster stack within kubernetes and have noticed that when deploying a microservice to another namespace (other than the one logstash is running in). Logstash does not receive any messages. Is there a way to configure the jhipster ELK stack to work across kubernetes namespaces? Ie have the ELK stack running in one namespace and allow any microservice independent of the namesp

[2018-09-13 19:48] PierreBesson commented on #104
Yes of course, you just need to set the correct logstash url that includes namespace info. As is explained in this k8s doc :  https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#namespaces-and-dns

So the URL should be something like :`jhipster-logstash.<namespace-name>.svc.cluster.local`

[2018-09-14 06:47] somejavadev commented on #104
@PierreBesson, Thanks I have got it configured like this. I will see if I can add some additional logging to pin point the issue.

[2018-09-14 06:47] #104 closed

[2018-09-22 11:01] victorinno opened #105 "jhipster-alert error"
Hi there, I cloned the application and started it with the `docker-compose up -d` but i got the following error:

Starting bootstrap_jhipster-logstash_1      ... done
Starting bootstrap_jhipster-console_1  ...
Starting bootstrap_jhipster-alerter_1       ... error
Starting bootstrap_jhipster-elasticsearch_1 ...
Starting bootstrap_jhipster-zipkin_1        ...
Starting bootstrap_jhipster-curator_1

[2018-09-23 20:02] #101 closed

[2018-09-24 10:53] PierreBesson opened #106 "Use specialized index patterns"
On a suggestion from @gmarziou and as multiple index are now correctly supported by Kibana, we should use a different index patterns for each use case:
- logs-*: for logs
- metrics-*: for metrics
- traces-*: for zipkin spans and traces
- alerts: for Elastalert status

[2018-09-24 15:29] PierreBesson commented on #100
Closing as this no more info was provided.

[2018-09-24 15:29] #100 closed

[2018-09-24 15:30] PierreBesson commented on #90
This should have been fixed for some time.

[2018-09-24 15:30] #90 closed

[2018-09-27 02:42] minlywang opened #107 "the analysis of dependencies of Zipkin didn't work"
I created a microservice project using jhipster and jhipster console.
In the jhipster-zipkin I can find the traces in the view of  "Find a trace" but I can't view the dependecies in the view of "Dependencies".

[2018-09-29 10:51] rifatdover commented on #94
@PierreBesson please inform me here about how you are designing it? And I want to help as much as I can.

[2018-10-02 19:39] PierreBesson commented on #106
Done in master !

[2018-10-02 19:39] #106 closed

[2018-10-02 19:41] PierreBesson commented on #107
It's because you have to start the run-job.sh script (in the container, see: https://github.com/jhipster/jhipster-console/blob/master/run-zipkin-dependency-job.sh). I actually made a cron to launch this automatically but I think it is broken. The right approach would be to introduce a "batch job" container based on the zipkin/zipkin-dependency docker image.

[2018-10-03 09:13] PierreBesson opened #108 "Add Prometheus and Grafana"
Using the ELK stack for metrics analysis does work but it doesn't cut it for advanced use cases. The main drawback is Elasticsearch doing aggregations on statistical data such as percentiles which is meaningless.

The most popular metrics monitoring solution tool at the moment is the Prometheus/Grafana combo so I think we should focus on that.

[2018-10-03 12:31] atomfrede commented on #108
I would love to see grafana + prometheus. We have that combo in place for ~6 month now. Can I help somehow here?

[2018-10-03 12:36] PierreBesson commented on #108
Well we need to create the jhispter-prometheus and jhipster-grafana docker images based on their official docker images like we did for the ELK stack and Zipkin. Ideally we can add improve the jhipster-import-dashboard scripts to autotically import dashboards in Grafana using the grafana REST API.

[2018-10-03 12:38] PierreBesson commented on #108
We also need to have the Elasticsearch and Prometheus datasources automatically configured in Grafana as well.

[2018-10-03 13:08] atomfrede commented on #108
Alright. Will have a look.

On Wed, Oct 3, 2018, 14:38 Pierre Besson <notifications@github.com> wrote:

[2018-10-08 02:30] minlywang commented on #107
Could you specify the steps in details or waiting for you to fix it?

[2018-10-08 11:36] PierreBesson commented on #107
@minlywang put the `run-zipkin-dependency-job.sh` which is in this repo in the same folder as the `docker-compose.yml` file and run it.

[2018-10-09 01:04] minlywang commented on #107
It's working... Thanks

[2018-10-09 01:04] #107 closed

[2018-12-15 09:27] anjia0532 opened #109 "ElastAlert Kibana Plugin"
repo : https://github.com/bitsensor/elastalert-kibana-plugin

![](https://github.com/bitsensor/elastalert-kibana-plugin/raw/master/showcase.gif)

[2018-12-17 12:04] MaikoKingma commented on #105
Your output says:

I had the same problem since I only copied the docker-compose.yml. This docker compose contains a container called jhipster-alerter which references two volumes. Both these volumes can be found in this repository and should be added to your implementation.
See:
- https://github.com/jhipster/jhipster-console/tree/master/alerts/rules
- https://github.com/jhipster/jhipster-console/

[2018-12-19 02:53] PC-Chiu opened #110 "How to collect monitor from kafka?"
How to collect monitor from kafka with jhipster-console?

[2018-12-23 03:45] anjia0532 commented on #110
collect kafka metrics?

[2018-12-25 08:30] sniperqpc commented on #110
I want to use Spring Cloud Sleuth with Zipkin over RabbitMQ or Kafka

[2018-12-25 10:54] sniperqpc commented on #110
谢谢，这个我用过，我的意思我想使用jhipster-console从队列里面获取metrics、调用链路、日志等数据，而不是应用直接把这些信息发送到jhipster-console？我应该怎么做？

[2018-12-31 08:16] deepu105 commented on #110
@PC-Chiu please use English as we work in English

[2018-12-31 10:09] jdubois commented on #110
I'm sorry but this isn't a bug, and you should use English

[2018-12-31 10:09] jdubois commented on #110
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-12-31 10:09] #110 closed

[2019-03-04 13:54] ivan86to commented on #100
Hello, i have the same issue,

"Did you package your app with the "zipkin" maven profile ?" -> Yes
SPRING_PROFILES_ACTIVE | prod,swagger,zipkin

Jhipster version 5.7.2

[2019-03-04 14:01] PierreBesson commented on #100
@ivan86to Please don't comment on an old issue. If you have a bug please open another issue and provide the content or `jhipster info`

[2019-03-04 14:15] ivan86to opened #111 "Zipkin not showing any span and trace"
Related to #100

I have package my microservices wirh zipkin profle

SPRING_PROFILES_ACTIVE  -> prod,swagger,zipkin

Jhipster version 5.7.2

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**
<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "packageName": "com.finance",
      "nativeLanguage": "it"
    },

[2019-03-04 14:40] ivan86to commented on #111
Zipkin does not even display the list of services

![immagine](https://user-images.githubusercontent.com/8206081/53740149-d10e4a00-3e93-11e9-9e74-88a7f4752392.png)

[2019-03-11 17:34] PierreBesson opened #112 "Migrate to Open Distro for Elasticsearch"
This is an initiative by Amazon, Netflix and others to provide an open source distribution of Elasticsearch/Kibana with security and alerting, (announcement : https://aws.amazon.com/blogs/opensource/keeping-open-source-open-open-distro-for-elasticsearch/)

https://opendistro.github.io/for-elasticsearch/

[2019-03-23 10:13] poolebu commented on #105
I have been struggling with this issue. I tried doing it like the README says, cloning the project and running docker-compose from inside the bootstrap directory, where reference to config.yaml is correct. I had the same issue in the Windows server, but worked perfectly on my production Debian server.

I think the problem that on Windows container, you CANNOT bind or mount single files. [See stack

[2019-03-23 10:15] poolebu commented on #89
I think it's a windows issue, see https://github.com/jhipster/jhipster-console/issues/105#issuecomment-475857498

[2019-05-22 09:32] Shaolans opened #113 "Setting up Jhipster-console for Azure Pipelines"
**Overview of the feature request**

Since Travis future is now uncertain, we should progressively migrate our CI to Azure Pipelines like we did for the generator or prettier-java.

**Motivation for or Use Case**

Travis is not doing well.
Azure Pipelines can have up to 10 parallel jobs (5 for Travis)

[2019-05-27 08:05] #113 closed

[2019-06-04 09:00] bhagujava opened #115 "Elastic With Username and Password"
Please add ENV variable for jhipster-console to connect elastic with username and password if elastic is secure

[2019-06-11 14:35] WiteCastle opened #116 "Install plugins?"
Is there a way to configure plugins from the docker-compose file using arguments or something? The only way I've figured out how to do it is to edit the Dockerfile.

I haven't worked with Docker extensively yet so I'm not even sure if it can be done. Is it possible to pass arguments to docker-compose that the Dockerfile could use to automatically install logstash plugins?

[2019-06-16 17:15] huxin666 opened #117 "How to deploy this project in Intranet Environment"
Unable to connect to the Internet in the Intranet, downloading docker image is problematic

[2019-06-16 18:54] deepu105 commented on #117
Please use stack overflow for support. This is only for bug reports and feature request

[2019-06-16 18:54] #117 closed

[2019-07-08 23:00] mraible opened #118 "Update dashboards for Micrometer"
From JHipster Console's [documentation](https://www.jhipster.tech/monitoring/#jhipster-console):

From @PierreBesson:

[2019-07-09 07:31] jdubois commented on #118
I believe those dashboards are important to a number of people - at least @mraible and myself (there are chances I need them for an important keynote soon...) so I'm adding a $200 bug bounty here.

[2019-07-19 17:23] #118 closed

[2019-07-19 17:27] PierreBesson commented on #118
It's done in master. Enjoy !

# http request timers
![Screenshot from 2019-07-19 18-52-42](https://user-images.githubusercontent.com/513471/61553452-c3301e80-aa5a-11e9-95ff-ab2d4073b3fb.png)
# graph any metrics
![Screenshot from 2019-07-19 18-45-24](https://user-images.githubusercontent.com/513471/61553454-c3301e80-aa5a-11e9-9cea-0805c53248da.png)
# jvm metrics
![Screenshot from 2019-07-19 18-41-4

[2019-07-19 18:03] PierreBesson opened #119 "Fix publishing docker images to Docker Hub"
For the latest release, images where not published to docker hub.

Ping @pascalgrimaud

[2019-07-19 20:01] pascalgrimaud commented on #119
Just done for v4.1.0
- https://cloud.docker.com/u/jhipster/repository/docker/jhipster/jhipster-console/tags
- https://cloud.docker.com/u/jhipster/repository/docker/jhipster/jhipster-elasticsearch/tags
- https://cloud.docker.com/u/jhipster/repository/docker/jhipster/jhipster-logstash/tags
- https://cloud.docker.com/u/jhipster/repository/docker/jhipster/jhipster-alerter/tags
- https://cloud.docker.c

[2019-07-19 20:01] #119 closed

[2019-07-19 21:42] PierreBesson commented on #116
Sorry for the late reply.
You either have to modify the Dockerfile present in this repo or create your own that would extend it like this :

[code]

[2019-07-19 21:42] #116 closed

[2019-07-22 09:52] PierreBesson commented on #118
I have claimed my bounty : https://opencollective.com/generator-jhipster/expenses/9163

[2019-07-22 09:54] pascalgrimaud commented on #118
Just approuved, thanks @PierreBesson !

[2019-07-30 21:23] mraible commented on #118
Will this be in the next JHipster release or is it a separate release cycle?

[2019-07-30 21:53] PierreBesson commented on #118
We just need to update the version in generator-constants. I have already published the docker images

[2019-09-18 17:34] trixprod opened #121 "[Jhipster-Alerter] Huge memory consumption and process killed"
Hello, i recently observed some strange behaviour of jhipster-alerter, it take all my memory !

[code]

If i watch the log, the process is killed once memory is full then the process is relaunched.

[code]

Here is my log_error_email rule

[code]

And my config file

[code]

I have no idea where is the issue :/

[2019-10-01 06:53] wittwerch opened #122 "jhipster-import-dashboards does not work on OpenShift"
The jhipster-import-dashboards does not work on OpenShift. It works locally with docker-compose, but on OpenShift somehow the execution context for the user is different.

[code]

Once the pod is started, it fails immediately with that error:

`/usr/local/bin/docker-entrypoint: line 13: metricbeat: command not found`

[2019-12-24 04:37] heinminhsoe commented on #111
I run into same issue as well.

[2020-02-19 07:39] Antarion commented on #94
Any update on this request?

[2020-02-19 11:29] pascalgrimaud commented on #94
The solution was already suggested:

@Antarion : would you like to contribute and provide the solution ? Or maybe, just add the documentation part ?

[2020-03-05 20:14] Antarion commented on #94
i used apache's mod mod_auth_openidc -->  https://github.com/zmartzone/mod_auth_openidc

[2020-08-21 10:54] stas-sbi opened #127 "jhipster-alerter does not start"
jhipster-alerter does not start because elastalert prior to 0.2.x don't work anymore  (jhipster-console [uses](https://github.com/jhipster/jhipster-console/blob/96452fd/jhipster-alerter/Dockerfile#L7) 0.1.36). The reason is non-strict dependencies in [requirements.txt](https://github.com/Yelp/elastalert/blob/v0.1.36/requirements.txt#L16) leading to installation of stomp.py v5.x which does not work

[2020-09-26 17:20] amirmehdi opened #129 "logstash get error Native memory allocation (mmap) failed"
hello,
with this config, I got this error.

[code]

ERROR:
[code]

what should I do?
thankyou

[2020-11-10 14:22] st4rtx commented on #111
any body find solution?

[2020-11-10 14:24] st4rtx commented on #100
hi
any body find solution?

[2020-11-14 13:15] st4rtx commented on #100
i find it
must write dependency in pom.xml file after log4j section :

        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-sleuth</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-zipkin</artifactId>
        </dependency

[2020-11-14 13:17] st4rtx commented on #111
i find it must be write dependencies on pom.xml after log4j section :

        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-sleuth</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-zipkin</artifactId>
        </dependency